* {
  font-family: sans-serif;
}

#header {
  background-color: rgb(182, 182, 182);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#nav-links {
  display: flex;
  height: 100%;
}

#nav-links li {
  list-style-type: none;
  margin: 0 10px 0 10px;
  height: 100%;
}

#nav-links li:hover {
  cursor: pointer;
  text-decoration: underline;
}

#hamburger {
  display: none;
  width: 10px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#hamburger:hover {
  cursor: pointer;
}

.bar {
  height: 6px;
  width: 30px;
  border-radius: 10px;
  background-color: white;
  margin: 2px;
}

#nav-links2 {
  list-style-type: none;
  height: 100%;
  margin-top: 0;
  display: none;
  background-color: rgb(128, 128, 128);
  display: hidden;
  flex-direction: column;
}

#nav-links2 li {
  margin-left: 0;
  margin: 10px;
}

#nav-links2 li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 701px) {
  #nav2 {
    display: none;
  }
}

@media (max-width: 700px) {
  #nav-links {
    display: none;
  }

  #hamburger {
    display: flex;
  }
}
